body {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

header {
  width: 100%;
  padding: 20px;
  padding-bottom: 30px;
  margin: 0;
  background-color: #3E454C;
  color: #f2f2f2;
  flex: 1 100%;

  article {
    width: 70%;
    float: left;
  }
  aside {
    width: 30%;
    float: right;
    font-size: 18px;
  }

  h1 {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
  }
}

footer {
  background-color: #3E454C;
  color: #f2f2f2;
  padding: 10px;
  flex: 1 100%;
}

.document {
  margin: 0;
  margin-top: 5px;
  padding: 5px;
  width: 70%;
  min-height: 80vh;
  flex: 3 auto;
}

.greetings {
  margin: 0;
  width: 28%;
  flex: 1 auto;
  color: #f2f2f2;
  background-color: #FF7F66;
  padding-left: 5px;

  p {
    margin: 2px;
    padding: 2px;
    font-size: 12px;
  }
}
